<ul class="dropdown-menu" role="menu">
  <li><a href="" ng-click="callContact(ac.id, true)"><i class="glyphicon glyphicon-facetime-video"></i> Video Call</a></li>
  <li><a href="" ng-click="callContact(ac.id, false)"><i class="glyphicon glyphicon-earphone"></i> Audio Call</a></li>
  <li><a href="" ng-click="fileContact(ac.id)"><i class="glyphicon glyphicon-paperclip"></i> Send File</a></li>
  <li class="divider"></li>
  <li><a href="" ng-click="blockContact(ac.id)"><i class="glyphicon glyphicon-ban-circle"></i> Block</a></li>
  <li><a href="" ng-click="clearChatHistory(ac.id)"><i class="glyphicon glyphicon-erase"></i> Clear History</a></li>
</ul>
