<div class="modal tour-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="status='closed'; $hide()">×</button>
            </div>
            <div class="modal-body">
                <h3 class="modal-title">Congratulations !</h3>
                <div class="happy-guy"></div>
                <div class="message">You built your first application. You can now go back to Console and play with the
                    Visual Designer to build more exciting Applications! Don’t forget to visit our <a href="https://www.restcomm.com/docs/" target="_blank">documentation</a> too!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="status='ok'; $hide()">Back to console</button>
            </div>
        </div>
    </div>
</div>