@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: lato;
}

body {
  background: #f2f1f1 !important;
}

.loggedIn {
    height: 100%;
    overflow-y: hidden;
}

/* ------------------------------ Login Form ------------------------------  */

.login {
  overflow-y: auto;
  height: auto;
}

.telestax-logo {
  margin-top: 33px;
  margin-left: 50px;
}

.telestax-rights {
  color: #a7a7a7;
  font-size: 1.0em;
  text-align: center;
}

.main-content {
    // removed display: flex due to resize on login (Issue #74)
    // display: flex;
    height: 100%;
}

form[role=login] {
  font: 16px/1.6em Lato, serif;
  color: transparent;
  background: transparent;
  margin-top: 20px;
  padding: 0 10px 25px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

form[role=login] > section {
  text-align: center;
  font-size: 14px;
  margin-top: 2em;
}

form[role=login] section a {
  color: #a8a8a9;
}

form[role=login] h3 {
  font-size: 30px;
  font-weight: 300;
  font-family: lato;
  text-align: center;
  color: #6d6e70;
  padding: 70px 0 12px 0;
}

form[role=login] input {
  color: #6d6e70;
  background: #fafafa;
  border: none;
  padding-left: 40px;
  border: 1px solid #d1d1d1;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
}

form[role=login] input::-webkit-input-placeholder,
form[role=login] input:-moz-placeholder,
form[role=login] input:-moz-placeholder,
form[role=login] input:-ms-input-placeholder {
  color: #c1c4c5;
}

form[role=login] input:-webkit-autofill,
form[role=login] input:-webkit-autofill:hover,
form[role=login] input:-webkit-autofill:focus,
form[role=login] input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #6d6e70;
}

form[role=login] button {
  background: #f2f1f1;
  border: 2px solid #44a5ab;
  color: #44a5ab;

  line-height: 30px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  padding: 10px 16px;
  border-radius: 6px;
  width: 100%;
}

form[role=login] button:enabled:hover {
    color: #edf7f8;
    background: #44a5ab;
}

.restcomm-logo {
  margin-top: 10%;
  margin-left: 2%;
  width: 285px;
}

.login-form .form-control {
  padding-left: 10px;
}

.login-form .form-control:focus{
    border: 1px solid #d1d1d1;
    box-shadow: inset 0 0 6px #ffffff;
    -webkit-box-shadow: 0 0 6px #ffffff;
    -moz-box-shadow: 0 0 6px #ffffff;
}