/*
@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype'),
  url('../fonts/Lato-Regular.svg#webfont') format('svg');
}
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: lato;
}

body {
  background: #f2f1f1 !important;
}

.loggedIn {
    height: 100%;
    overflow-y: hidden;
}

/* ------------------------------ Login Form ------------------------------  */

.login {
  overflow-y: auto;
  height: auto;
}

.telestax-logo {
  margin-top: 33px;
  margin-left: 50px;
}

.telestax-rights {
  color: #a7a7a7;
  font-size: 1.0em;
  text-align: center;
}

.main-content {
    // removed display: flex due to resize on login (Issue #74)
    // display: flex;
    height: 100%;
}

form[role=login] {
  font: 16px/1.6em Lato, serif;
  color: transparent;
  background: transparent;
  margin-top: 20px;
  padding: 0 10px 25px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

form[role=login] > section {
  text-align: center;
  font-size: 14px;
  margin-top: 2em;
}

form[role=login] section a {
  color: #a8a8a9;
}

form[role=login] h3 {
  font-size: 30px;
  font-weight: 300;
  font-family: lato;
  text-align: center;
  color: #6d6e70;
  padding: 70px 0 12px 0;
}

form[role=login] input {
  color: #6d6e70;
  background: #fafafa;
  border: none;
  padding-left: 40px;
  border: 1px solid #d1d1d1;
  margin-bottom: 20px;
  font-size: 16px;
}

form[role=login] input::-webkit-input-placeholder {
  color: #c1c4c5;
}
form[role=login] input:-moz-placeholder {
  color: #c1c4c5;
}
form[role=login] input:-moz-placeholder {
  color: #c1c4c5;
}
form[role=login] input:-ms-input-placeholder {
  color: #c1c4c5;
}

form[role=login] button {
  background: #f2f1f1;
  border: 2px solid #44a5ab;
  color: #44a5ab;

  line-height: 30px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  padding: 10px 16px;
  border-radius: 6px;
  width: 100%;
}

form[role=login] button:enabled:hover {
    color: #edf7f8;
    background: #44a5ab;
}

.restcomm-logo {
  margin-top: 10%;
  margin-left: 2%;
}

.login-form .form-control {
  padding-left: 10px;
}