<div id="wrapper">

  <!-- take a tour step definition -->
  <div tour-step="step-add-contact" tour-name="main" target="#icons-settings" backdrop="tourStep.active" backdrop-selector="#add-contact-icon"></div>
  <div tour-step="step-make-the-call" tour-name="main" target="#phone-button-image" backdrop="tourStep.active" backdrop-selector="#phone-button-image"></div>

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">

      <div id="company-logo-container">
        <div class="company-logo"></div>
        <span class="pull-right version-banner" style="margin-right: 12px; margin-top: -14px;">v{{ clientVersion }}</span>
      </div>

      <div class="user-avatar" ng-class="imAlive ? 'user-online' : 'user-offline'" ng-show="!contact.icon" title="{{ imAlive ? 'Online' : 'Connectivity Issues' }}">
        <div>
          {{ loggedUser | limitTo : 1 | uppercase }}
        </div>
      </div>
      <h4 id="user-name">{{ loggedUser }}
        <a href="" ng-click="signOut()" title="Sign Out">
          <i class="fa fa-sign-out" style="font-size: 17px; margin-left: 10px;"></i>
        </a>
      </h4>
      <div class="nav-menu" id="icons-settings">
        <a href="" class="action-disabled" style="margin-left: 10px;"><img src="resources/images/v2/mp-icon-profile.png"></a>
        <a href="" class="action-disabled"><img src="resources/images/v2/mp-icon-preferences.png"></a>
        <a href="" class="action-disabled"><img src="resources/images/v2/mp-icon-mentions.png"></a>
        <a href="" class="action-disabled"><img src="resources/images/v2/mp-icon-favorites.png"></a>
        <a href="" class="action-disabled"><img src="resources/images/v2/mp-icon-files.png"></a>
        <a href="" ng-click="!editingContact && toggleSidebar('addContact') || tourManager.goto('step-enter-contact-address','step-add-contact')" title="Add Contact"><img id="add-contact-icon" src="resources/images/v2/mp-icon-add.png"></a>
      </div>

      <div class="sidebar-brand">
        <a href="" ng-click="hideContacts = !hideContacts">Contacts <span class="pull-right" ng-show="hideContacts">+</span><span class="pull-right" ng-show="!hideContacts">-</span></a>
      </div>

      <div id="sidebar-content" ng-class="{ 'in-action': sidebarAction }">
        <div class="sidebar-rooms" ng-show="!sidebarAction && hasRooms">
          <li class="sidebar-brand">
            <a href="">
              Rooms  <span class="pull-right">+</span>
            </a>
          </li>

          <li>
            <img id="room-icon-1" class="room-icon" src="resources/images/v2/mp-icon-rooms.png">
            <a href="">documentation</a>
          </li>
          <li>
            <img id="room-icon-2" class="room-icon" src="resources/images/v2/mp-icon-rooms.png">
            <a href="">marketing</a>
          </li>
          <li>
            <img id="room-icon-3" class="room-icon" src="resources/images/v2/mp-icon-rooms.png">
            <a href="">general</a>
          </li>
          <li>
            <img id="room-icon-4" class="room-icon" src="resources/images/v2/mp-icon-rooms.png">
            <img id="badge" src="resources/images/v2/mp-badge.png">
            <a href="">restcomm - SDKs</a>
          </li>
          <li>
            <img id="room-icon-5" class="room-icon" src="resources/images/v2/mp-icon-rooms.png">
            <a href="">design</a>
          </li>
          <li>
            <img id="room-icon-6" class="room-icon" src="resources/images/v2/mp-icon-rooms.png">
            <a href="">sales</a>
          </li>
          <li>
            <img id="room-icon-7" class="room-icon" src="resources/images/v2/mp-icon-rooms.png">
            <a href="">random</a>
          </li>
          <li>
            <img id="room-icon-8" class="room-icon" src="resources/images/v2/mp-icon-rooms.png">
            <a href="">core</a>
          </li>
        </div>

        <div class="sidebar-contacts" ng-show="!sidebarAction && hasContacts">
          <li class="contact-container" ng-repeat="contact in contacts" ng-click="selectContact(contact)" ng-hide="hideContacts" ng-class="{selected: ac.address === contact.address}">
            <div class="contact-avatar clickable" style="{{ contact.icon ? '' : ('background-color: ' + getChatColor(contact.address)) + ';' }}">
              <div ng-show="!contact.icon">
                {{ contact.name | limitTo : 1 | uppercase }}
              </div>
              <i class="fa fa-{{ contact.icon }}" id="contact-icon-{{ contact.id }}" ng-if ="!contact.photo && contact.icon" />
            </div>

            <span class="contact-chat-unread-min label label-danger" ng-show="activeChats[contact.id].unread > 0">{{ activeChats[contact.id].unread }}</span>
            <div class="contact-space">
              <div id="contact-space-{{ contact.id }}">
                <i class="fa fa-phone" style="text-indent: 0; margin-left: -18px;" ng-show="(inCall.incomingCallFlag && inCall.callerPhoneNumber === contact.id) || (!inCall.incomingCallFlag && inCall.calleePhoneNumber === contact.address)"></i>
                {{ contact.name }}
                <span class="contact-chat-unread label label-danger" ng-show="activeChats[contact.id].unread > 0">{{ activeChats[contact.id].unread }}</span>
                <br>
                <div class="contact-info">{{ contact.address }} <a href="" class="edit-contact pull-right" ng-click="editContact(contact)"><i class="fa fa-pencil"></i></a></div>
              </div>
            </div>
          </li>
        </div>

        <div class="sidebar-add-contact" ng-show="sidebarAction === 'addContact'">
          <!-- take a tour step definition -->
          <div tour-step="step-enter-contact-address" tour-name="main" target=".add-contact-form" backdrop="tourStep.active" backdrop-selector="input[name='ncName']" backdrop-selector2="#add-contact-button"></div>
          <h4 class="sidebar-action-title">{{ editingContact ? "Edit" : "Add" }} Contact</h4>
          <hr>
          <form name="addContactForm" class="add-contact-form">
            <input name ="ncName" type="text" class="sidebar-input" placeholder="Contact Name" ng-model="newContact.name">
            <input name ="ncAddress" type="text" class="sidebar-input" placeholder="Contact Address" ng-model="newContact.address" required>
            <div class="sidebar-action-error" ng-show="addContactForm.ncAddress.$dirty && duplicateContact">The contact already exists</div>
            <div class="sidebar-action-error" ng-show="addContactForm.ncAddress.$dirty && addContactForm.ncAddress.$error.required">The address is required</div>
            <div class="row">
              <div class="col-lg-12">
                <button id="add-contact-button" type="button" class="btn btn-default pull-right sidebar-action-button" ng-click="addContact()" ng-hide="editingContact" ng-disabled="duplicateContact || !addContactForm.$valid">Add Contact</button>
                <button type="button" class="btn btn-default pull-right sidebar-action-button" ng-click="saveEditContact()" ng-show="editingContact" ng-disabled="(addContactForm.ncName.$pristine && addContactForm.ncAddress.$pristine) || duplicateContact || !addContactForm.$valid">Save Changes</button>
                <button type="button" class="btn btn-default pull-right sidebar-action-button" ng-click="cancelEditContact(); tourManager.stopTour();">Cancel</button>
                <button type="button" class="btn btn-danger pull-right sidebar-action-button" ng-click="preDeleteContact(curContact)" ng-show="editingContact"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-danger pull-right sidebar-action-button" ng-click="deleteContact(curContact)" ng-show="curContact.deleteConfirm">Confirm Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <a href=""><img id="expand-chat" src="resources/images/v2/mp-arrow-onchat.png" ng-show="ac"></a>

  <div id="incoming-call" class="incoming-call-wrapper" ng-show="inCall && !inCall.hasRemoteVideo && ac === inCall.contact">
    <h5 id="incoming-call-message" ng-show="inCall.incomingCallFlag && inCall.intStatus !== 'ESTABLISHED'">Incoming {{ inCall.isVideo ? 'Video' : 'Audio' }} Call</h5>
    <h5 id="incoming-call-message" ng-show="inCall && inCall.intStatus === 'ESTABLISHED'">{{ inCall.contact.name }}</h5>
    <h5 id="incoming-call-message" ng-show="inCall && inCall.intStatus !== 'ESTABLISHED' && !inCall.incomingCallFlag">Calling {{ inCall.contact.name }}</h5>
    <i class="fa fa-{{ inCall.contact.icon || 'user-o' }} inc-call-icon" ng-show="!inCall.contact.photo"></i>
    <img id="photo-call" ng-src="resources/images/v2/{{ inCall.contact.photo || 'mp-icon-profile.png' }}" ng-show="inCall.contact.photo">
    <h5 id="name-participant" ng-show="inCall.incomingCallFlag && inCall.intStatus !== 'ESTABLISHED'">{{ inCall.contact.name }}</h5>
    <h5 id="name-participant" ng-show="inCall && inCall.intStatus !== 'ESTABLISHED'">{{ inCall.intStatus }}</h5>
    <div class="incoming-call-actions" ng-hide="inCall.intStatus === 'ESTABLISHED'">
      <div class="incoming-call-action" ng-show="inCall && inCall.isVideo">
        <a href="" ng-click="acceptCall(true)"><img src="resources/images/v2/answer-video-call.png"></a>
      </div>
      <div class="incoming-call-action" ng-class="{'audio-only': !inCall.isVideo}" ng-show="inCall && inCall.incomingCallFlag">
        <a href="" ng-click="acceptCall(false)"><img src="resources/images/v2/answer-audio-call.png"></a>
      </div>
      <div class="incoming-call-action" ng-class="{'audio-only': !inCall.isVideo}" ng-show="inCall && inCall.incomingCallFlag">
        <a href="" ng-click="rejectCall()"><img src="resources/images/v2/decline-call.png"></a>
      </div>
      <div class="incoming-call-action" style="width: 90%;" ng-show="inCall && inCall.intStatus !== 'ESTABLISHED' && !inCall.incomingCallFlag">
        <a href="" ng-click="callHangup()"><img src="resources/images/v2/decline-call.png"></a>
      </div>
    </div>
    <div class="incoming-call-actions" ng-hide="inCall.intStatus === 'ESTABLISHED'">
      <div class="incoming-call-action" ng-show="inCall && inCall.incomingCallFlag && inCall.isVideo">VIDEO</div>
      <div class="incoming-call-action" ng-class="{'audio-only': !inCall.isVideo}" ng-show="inCall && inCall.incomingCallFlag">AUDIO</div>
      <div class="incoming-call-action" ng-class="{'audio-only': !inCall.isVideo}" ng-show="inCall && inCall.incomingCallFlag">REJECT</div>
      <div class="incoming-call-action" ng-show="inCall && inCall.intStatus !== 'ESTABLISHED' && !inCall.incomingCallFlag" style="width: 90%;">CANCEL</div>
    </div>
  </div>

  <div id="chat-video-aeria" class="animated" ng-class="videoClass" ng-show="ac">
    <div id="add-participant" class="add-participant" ng-show="false">
      <img src="resources/images/v2/mp-icon-add-participant-chat.png">
    </div>

    <h3 id="current-call">Chat with {{ ac.name }} <i ng-show="false" class="fa fa-chevron-down" style="font-size: 14px; vertical-align: 3px;"></i></h3>

    <div class="border-separator"></div>

    <div id="videos" class="no-select" ng-show="remoteVideo && (ac.id === inCall.callerPhoneNumber || ac.address === inCall.calleePhoneNumber)" fullscreen="remoteVideo && fsVideo">
      <div id="big-video">
        <div class="video-controls-top">
          {{ inCall.callTimer | secondsToTime:true }}
          <div style="float: right;">
            <i class="fa fa-th" ng-click="toggleKeypad()"></i>
            <i class="fa fa-television"></i>
            <i class="fa fa-cog"></i>
            <a href="" ng-click="toggleFullScreen()"><i class="fa fa-expand"></i></a>
          </div>
        </div>
        <div id="keypad" class="keypad" ng-show="showKeypad">
          <table>
            <tr>
              <td class="btn keypad-btn" id="btnDTMF1" ng-click="playDTMF('1')" ng-keydown="keypressDTMF($event)" tabindex="0">1</td>
              <td class="btn keypad-btn" id="btnDTMF2" ng-click="playDTMF('2')" ng-keydown="keypressDTMF($event)" tabindex="0">2<small>A B C</small></td>
              <td class="btn keypad-btn" id="btnDTMF3" ng-click="playDTMF('3')" ng-keydown="keypressDTMF($event)" tabindex="0">3<small>D E F</small></td>
            </tr>
            <tr>
              <td class="btn keypad-btn" id="btnDTMF4" ng-click="playDTMF('4')" ng-keydown="keypressDTMF($event)" tabindex="0">4<small>G H I</small></td>
              <td class="btn keypad-btn" id="btnDTMF5" ng-click="playDTMF('5')" ng-keydown="keypressDTMF($event)" tabindex="0">5<small>J K L</small></td>
              <td class="btn keypad-btn" id="btnDTMF6" ng-click="playDTMF('6')" ng-keydown="keypressDTMF($event)" tabindex="0">6<small>M N O</small></td>
            </tr>
            <tr>
              <td class="btn keypad-btn" id="btnDTMF7" ng-click="playDTMF('7')" ng-keydown="keypressDTMF($event)" tabindex="0">7<small>P Q R S</small></td>
              <td class="btn keypad-btn" id="btnDTMF8" ng-click="playDTMF('8')" ng-keydown="keypressDTMF($event)" tabindex="0">8<small>T U V</small></td>
              <td class="btn keypad-btn" id="btnDTMF9" ng-click="playDTMF('9')" ng-keydown="keypressDTMF($event)" tabindex="0">9<small>W X Y Z</small></td>
            </tr>
            <tr>
              <td class="btn keypad-btn" id="btnDTMF*" ng-click="playDTMF('*')" ng-keydown="keypressDTMF($event)" tabindex="0">*</td>
              <td class="btn keypad-btn" id="btnDTMF0" ng-click="playDTMF('0')" ng-keydown="keypressDTMF($event)" tabindex="0">0<small>+</small></td>
              <td class="btn keypad-btn" id="btnDTMF#" ng-click="playDTMF('#')" ng-keydown="keypressDTMF($event)" tabindex="0">#</td>
            </tr>
          </table>
        </div>
        <div class="video-controls-bottom video-controls-top">
          <div class="center-block">
            <a href="" class="btn control-button control-button-left" ng-click="localMuteVideo()">
              <i class="fa" ng-class="inCall.localVideoMuted ? 'fa-eye-slash muted' : 'fa-video-camera'" ></i>
            </a>
            <a href="" class="btn control-button" ng-click="callHangup()">
              <i class="fa fa-phone" style="transform: rotate(135deg);"></i>
            </a>
            <a href="" class="btn control-button" ng-click="localMuteAudio()">
              <i class="fa" ng-class="inCall.localAudioMuted ? 'fa-microphone-slash muted' : 'fa-microphone'"></i>
            </a>
          </div>
        </div>
        <video
            class="remote-video"
            style="{{ isPortrait ? 'height: 100%;' : 'width: 100%;' }};"
            autoplay="autoplay">
        </video>
      </div>

      <div id="side-videos">
        <div id="video1" class="small-video">
          <!-- Local Video Window -->
          <webcam
              class="block"
              ng-if="loggedUser && requestStream"
              ng-show="inCall.hasRemoteVideo"
              placeholder="resources/images/loading.gif"
              audio="true"
              video="isVideoCall"
              video-width="640"
              video-height="480"
              video-constraints="videoConstraints"
              on-stream="onStream(stream)"
              on-error="onError(err)"
              on-streaming="onStreaming()"
              style="width: 100%; transform: scaleX(-1);">
          </webcam>
        </div>
      </div>
    </div>

    <div class="border-separator"></div>

    <div class="chat-container" ng-class="{'chat-with-video': (remoteVideo && (ac.id === inCall.callerPhoneNumber || ac.address === inCall.calleePhoneNumber))}">
      <div class="chat-participant-block" ng-repeat="entry in activeChats[ac.id].history">
        <span class="system-message" ng-if="entry.from === 'system'">
          <i class="fa fa-phone call-event" ng-class="{'missed-call': entry.type === 'missed'}"></i>
          <span class="system-message-text" ng-bind-html="entry.text"></span>
        </span>
        <span ng-if="entry.from !== 'system'">
          <div class="avatar" ng-class="activeChats[ac.id].history[$index].direction === 'in' ? 'contact-avatar' : 'user-avatar'" ng-show="!contact.icon" ng-if="$index === 0 || activeChats[ac.id].history[$index].direction !== activeChats[ac.id].history[$index-1].direction" style="
            background-color: {{ activeChats[ac.id].history[$index].direction === 'in' ? getChatColor(ac.address) : '' }};">
              <div style="">
                {{ (activeChats[ac.id].history[$index].direction === 'in' ? ac.name : loggedUser) | limitTo : 1 | uppercase }}
              </div>
            </div>
          <div class="chat-header" ng-if="$index === 0 || activeChats[ac.id].history[$index].direction !== activeChats[ac.id].history[$index-1].direction">
            <span class="chat-name">{{ activeChats[ac.id].history[$index].direction === 'in' ? ac.name : loggedUser }}</span>
            <span class="chat-time" am-time-ago="entry.time" title="{{entry.time | amDateFormat:'ddd, DD MMM YYYY, HH:mm:ss'}}"></span>
          </div>
          <div class="chat-line" ng-class="{'chat-line-margin' : $index >= 1}" ng-bind-html="entry.text | linky:'_blank'"</div>
        </span>
      </div>
    </div>
  </div>

  <div class="textbox" ng-show="ac">
    <input type="text" class="textbox-in" placeholder="Write something crazy" ng-model="ac.writeText" ng-keydown="$event.which === 13 && sendMessage(ac)">
    <div id="infoToggler" class="chat chat-hover" ng-click="sendMessage(ac)">
      <img src="resources/images/v2/mp-send-textbox.png" width="25px" height="30px">
      <img src="resources/images/v2/mp-search-textbox.png" width="25px" height="30px" style="display:none">
    </div>
    <a href="" class="">
      <div id="border-emoticons"></div>
      <img id="emoticons" src="resources/images/v2/mp-arrow-textbox.png">
    </a>
    <div id="container-btn">
      <div id="cancel-call-btn">
        <a href="" class="btn-phone btn-cancel" ng-show="inCall && !inCall.incomingCallFlag && (inCall.intStatus === 'CONNECTING...' || inCall.intStatus === 'RINGING...')" ng-click="callHangup()"><img src="resources/images/v2/decline-call.png"></a>
      </div>
      <div id="left-btn">
        <a href="" class="btn-phone" ng-hide="inCall && !inCall.incomingCallFlag && (inCall.intStatus === 'CONNECTING...' || inCall.intStatus === 'RINGING...')" ng-class="{'action-disabled': inCall}" ng-click="callContact(ac.address, false)"><img id='phone-button-image' src="resources/images/v2/btn-icon-phone.png"></a>
      </div>
      <div>
        <a href="" class="btn-cam" ng-hide="inCall && !inCall.incomingCallFlag && (inCall.intStatus === 'CONNECTING...' || inCall.intStatus === 'RINGING...')" ng-class="{'action-disabled': inCall}" ng-click="callContact(ac.address, true)"><img src="resources/images/v2/btn-icon-camera.png"></a>
      </div>
    </div>
  </div>
</div>

<!-- Audio Resources -->
<audio id="snd_ringing" loop src="resources/audio/ringing.mp3" type="audio/mpeg"></audio>
<audio id="snd_ringback" loop src="resources/audio/ringback.ogg" type="audio/ogg"></audio>
<audio id="snd_message" src="resources/audio/chat_notification.wav" ></audio>
<audio id="snd_dtmf0" title="0" src="resources/audio/dtmf0.wav" ></audio>
<audio id="snd_dtmf1" title="1" src="resources/audio/dtmf1.wav" ></audio>
<audio id="snd_dtmf2" title="2" src="resources/audio/dtmf2.wav" ></audio>
<audio id="snd_dtmf3" title="3" src="resources/audio/dtmf3.wav" ></audio>
<audio id="snd_dtmf4" title="4" src="resources/audio/dtmf4.wav" ></audio>
<audio id="snd_dtmf5" title="5" src="resources/audio/dtmf5.wav" ></audio>
<audio id="snd_dtmf6" title="6" src="resources/audio/dtmf6.wav" ></audio>
<audio id="snd_dtmf7" title="7" src="resources/audio/dtmf7.wav" ></audio>
<audio id="snd_dtmf8" title="8" src="resources/audio/dtmf8.wav" ></audio>
<audio id="snd_dtmf9" title="9" src="resources/audio/dtmf9.wav" ></audio>
<audio id="snd_dtmfs" title="*" src="resources/audio/star.wav" ></audio>
<audio id="snd_dtmfp" title="#" src="resources/audio/pound.wav" ></audio>
