<form shake shakeit="shakeit">
<div class="well login-well" ng-class="(showAdvanced) ? 'col-sm-10 col-sm-offset-1' : 'col-sm-5 col-sm-offset-4'">
    <div ng-class="(showAdvanced) ? 'col-sm-5' : 'col-sm-12'">
        <form role="form">
            <!-- <h2 class="text-center text-muted"><i class="glyphicon glyphicon-comment"></i> Login</h2> -->
            <div class="page-header" ng-init="showAdvanced = false;">
                <h1 class="text-center">
                    <span class="icon-stack" style="padding-right: 60px;">
                       <i class="glyphicon glyphicon-cloud" style="font-size: 1.5em; color: #E8592A;"></i>
                       <i class="glyphicon glyphicon-flash" style="font-size: 1.5em; color: #D8D8D8;"></i>
                    </span>
                    OLYMPUS <small><br>Meetings in the clouds</small></h1>
            </div>
            <div class="form-group" style="display: flex;">
                <label for="server" class="control-label" ng-show="showAll && false">Server Address and Port</span></label>
                <div class="input-group" ng-class="(validServer) ? '' : 'has-error'" style="width: 70%;">
                    <div class="input-group-addon login-big-addon"><i class="fa fa-globe"></i></div>
                    <input id="serverAddress" class="form-control login-big-input long" type="text" placeholder="Server IP / Hostname" ng-model="serverAddress" ng-change="mirrorServer()">
                </div>
                <div class="input-group" ng-class="(validServer) ? '' : 'has-error'">
                    <div class="input-group-addon login-big-addon long" style="width: 3%; padding: 0; color: #555;">:</div>
                    <input id="serverPort" class="form-control login-big-input long" type="text" placeholder="Port" ng-model="serverPort" ng-change="mirrorServer()" maxlength="5" style="width: 40%;">
                </div>
            </div>
            <div class="form-group">
                <label for="sipUserName" class="control-label"><span ng-show="showAll">User and Password</span></span></label>
                <div class="input-group col-sm-12">
                    <div class="input-group-addon login-big-addon"><i class="fa fa-user"></i></div>
                    <input id="sipUserName" class="form-control login-big-input" type="text" placeholder="Username" ng-model="sip.username" ng-change="mirrorUsername()" autofocus>
                    <div class="input-group-addon" ng-if="!simplified">@</div>
                    <input id="sipDomain" class="form-control" type="text" placeholder="Domain" ng-model="sip.domain" ng-show="!simplified">
                </div>
            </div>
            <div class="form-group" ng-show="showAll">
                <label for="sipLogin" class="control-label">Authentication</label>
                <div class="input-group col-sm-12">
                    <div class="input-group-addon login-big-addon"><i class="glyphicon glyphicon-user"></i></div>
                    <input id="sipLogin" class="form-control login-big-input" type="text" placeholder="SIP Login" ng-model="sip.login">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group col-sm-12">
                    <div class="input-group-addon login-big-addon"><i class="fa fa-lock"></i></div>
                    <input id="sipPassword" class="form-control login-big-input" type="password" placeholder="Password" ng-model="sip.password">
                </div>
            </div>
            <div class="form-group" ng-show="showAll">
                <label for="sipDisplayName" class="control-label">Display Name</label>
                <div class="input-group">
                    <div class="input-group-addon login-big-addon"><i class="glyphicon glyphicon-bullhorn"></i></div>
                    <input id="sipDisplayName" class="form-control login-big-input" type="text" placeholder="Display Name" ng-model="sip.displayName">
                </div>
            </div>
            <div ng-hide="showAdvanced">
                &nbsp;<a class="btn btn-sm btn-link pull-right" ng-click="showAdvanced = !showAdvanced">ADVANCED SETTINGS >></a>
            </div>
        </form>
    </div>
    <div class="col-sm-7" ng-show="showAdvanced">
        <h1 class="text-center text-muted" style="padding: 34px;"><i class="fa fa-cog" ng-dblclick="showAll = !showAll"></i> Advanced</h1>
        <form class="" role="form">
            <div class="form-group">
                <label for="stunServer" class="control-label">STUN Server</label>
                <div class="input-group col-md-12">
                    <div class="input-group-addon login-big-addon"><i class="glyphicon glyphicon-flash"></i></div>
                    <input id="stunServer" class="form-control login-big-input long" type="text" placeholder="STUN Server Address" ng-model="stun.address">
                </div>
            </div>
            <div class="form-group">
                <label for="turnServer" class="control-label">TURN Server</label>
                <div class="input-group col-md-12">
                    <div class="input-group-addon login-big-addon"><i class="glyphicon glyphicon-retweet"></i></div>
                    <input id="turnServer" class="form-control login-big-input long" type="text" placeholder="TURN Server Address" ng-model="turn.address">
                </div>
            </div>
            <div class="form-group form-inline" style="height: 58px;">
                <label for="turnLogin" class="control-label">TURN Auth</label>
                <div class="col-md-12">
                    <div class="input-group col-md-6">
                        <div class="input-group-addon login-big-addon" style="width: 40px;"><i class="glyphicon glyphicon-user"></i></div>
                        <input id="turnLogin" class="form-control login-big-input long" type="text" placeholder="TURN Login" ng-model="turn.login">
                    </div>
                    <div class="input-group col-md-5">
                        <div class="input-group-addon login-big-addon" style="width: 40px;"><i class="glyphicon glyphicon-lock"></i></div>
                        <input id="turnPassword" class="form-control login-big-input long" type="password" placeholder="TURN Password" ng-model="turn.password">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="showAll">
                <label for="sipOutboundProxy" class="control-label">Outbound Proxy</label>
                <div class="input-group col-md-12">
                    <div class="input-group-addon login-big-addon"><i class="glyphicon glyphicon-filter"></i></div>
                    <input id="sipOutboundProxy" class="form-control login-big-input long" type="text" placeholder="Outbound Proxy Address" ng-model="outboundProxy.address">
                </div>
            </div>
            <div class="form-group form-inline" ng-show="showAll">
                <label for="audioCodecsFilter" class="control-label">A/V Codecs</label>
                <div class="input-group col-md-12">
                    <div class="input-group-addon login-big-addon" style="width: 40px;"><i class="glyphicon glyphicon-volume-up"></i></div>
                    <input id="audioCodecsFilter" class="form-control login-big-input long" type="text" placeholder="Audio Codecs" ng-model="communicationSettings.audioCodecs">
                </div>
                <div class="input-group col-md-12">
                    <div class="input-group-addon login-big-addon" style="width: 40px;"><i class="glyphicon glyphicon-facetime-video"></i></div>
                    <input id="videoCodecsFilter" class="form-control login-big-input long" type="text" placeholder="Video Codecs" ng-model="communicationSettings.videoCodecs">
                </div>
            </div>
            <div class="form-group" ng-show="showAll">
                <label for="localVideoFormat" class="control-label">Local Video Format</label>
                <div class="input-group col-md-12">
                    <div class="input-group-addon login-big-addon"><i class="glyphicon glyphicon-film"></i></div>
                    <input id="localVideoFormat" class="form-control login-big-input long" type="text" placeholder="Local Video Format" ng-model="communicationSettings.localVideoFormat" onchange="mobicentsWebRTCPhoneController.onChangeLocalVideoFormatViewEventHandler();">
                </div>
            </div>
            <div ng-show="showAdvanced" style="padding-top: 30px;">
                <a class="btn btn-sm btn-link" ng-click="showAdvanced = !showAdvanced">&lt;&lt; ADVANCED SETTINGS</a>
            </div>
        </form>
    </div>
    <button id="Register" class="btn btn-lg btn-primary btn-block" type="submit" ng-click="connect();" ng-disabled="!validServer || registering">Sign<span ng-show="registering">ing</span> in<span ng-show="registering">...</span></button>
    <br>
    <div ng-show="registerFailed" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Register failed. Check your credentials.
    </div>
</div>
</form>
<!--             <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
<p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
-->
