<div class="row">
  <div class="col-sm-2 col-md-1 sidebar">
    <oly-sidebar></oly-sidebar>
  </div>

  <!-- Contacts List -->
  <div class="col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-1 contacts animated ng-hide" style="margin-top: 20px; border-right: 1px solid #AAA;" my-show="showContacts" after-hide="afterHide()" after-show="afterShow()">
    <h3 class="page-header"><i class="glyphicon glyphicon-list-alt"></i> <span style="color:#555;">Contacts</span><span style="color:#CCC;">List</span></h3>
    <div class="input-group">
      <input id="inputContact" class="form-control" type="text" ng-model="newContact.address" ng-keyup="$event.keyCode == 13 && isValidContact() && addContact()" placeholder="Contact Address">
      <span class="input-group-btn">
        <button id="btnAddContact" class="btn btn-primary" type="button" ng-click="addContact()" ng-disabled="!isValidContact()">Add</button>
      </span>
    </div>
    <div style="margin-top: 2px;">
      <input id="inputContact" class="form-control input-sm" type="text" ng-model="newContact.name" placeholder="Contact Name (optional)" ng-show="newContact.address">
    </div>
    <br>
    <dl ng-repeat="contact in contacts|filter:newContact.address">
      <dt><i class="fa fa-{{contact.icon}}"></i> {{contact.name}}</dt>
      <dd><a href="" class="contact-entry" ng-dblclick="isClient(contact) ? chatContact(contact.address) : callContact(contact.address, false)" data-content-template="modules/templates/oly-contact-card.html" title="{{contact.name}} // {{contact.address}}" data-animation="am-flip-x" data-auto-close="1" bs-popover data-container="body" data-placement="right">{{contact.address}}</a>
        <div ng-show="contact.isCollapsed">
          <button ng-if="isClient(contact)" class="btn btn-success btn-xs" ng-click="callContact(contact.address, true)"><i class="glyphicon glyphicon-facetime-video"></i></button>
          <button class="btn btn-primary btn-xs" ng-click="callContact(contact.address, false)"><i class="glyphicon glyphicon-earphone"></i></button>
          <button ng-if="isClient(contact)" class="btn btn-default btn-xs" ng-click="chatContact(contact.address)"><i class="glyphicon glyphicon-comment"></i></button>
        </div>
      </dd>
    </dl>
  </div>

  <div class="main" ng-class="contactsVisible ? 'col-md-9' : 'col-md-11 col-md-offset-1'">
    <!-- Room Title / Incoming Call Banner -->
    <div id="incomingCall" class="row">
      <div class="col-md-5">
        <h4 ng-class="{'page-header': false}"><span id="roomName" style="color:#555;">Welcome</span><span style="color:#CCC;">Room</span></h4>
      </div>
      <div class="col-md-7 incoming-call-container inline-headers" ng-show="incomingCall">
        <div class="row" style="margin-top:29px;">
          <div class="col-md-1">
            <img src="resources/images/male-placeholder.jpg" style="height: 60px; margin: 0 0 0 -15px; border-radius: 10px; padding: 2px;" class="pull-left">
          </div>
          <div class="col-md-5">
            <h4 style="margin: 6px 0 0 5px;"><span style="color:#555;">Incoming</span><span style="color:#CCC;">Call</span></h4>
            <div><h3 style="margin: 3px 0 0 5px;"><span style="color:#555;">{{incomingCall.callerPhoneNumber}}</span> <small style="color:#CCC;" ng-show="incomingCall.callerPhoneNumber">({{incomingCall.callerPhoneNumber}})</small></h3></div>
          </div>
          <div class="col-md-6">
            <div class="pull-right" role="group" aria-label="..." style="margin-top: 13px;">
              <button class="btn btn-success" ng-click="acceptCall(true);"><i class="glyphicon glyphicon-facetime-video"></i> Video</button>
              <button class="btn btn-success" ng-click="acceptCall(false);"><i class="glyphicon glyphicon-volume-up"></i> Audio</button>
              <button class="btn btn-danger" ng-click="rejectCall();"><i class="glyphicon glyphicon-remove-circle"></i> Decline</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Local Video Window -->
    <!--<video id="localVideo" class="col-md-6" autoplay="autoplay"></video>-->
    <div ng-show="loggedUser && activeLayout === 'SbS'" id="localVideoSpan" class="block">
      <webcam class="block" ng-if="loggedUser && requestStream" placeholder="resources/images/loading.gif" audio="true" video="isVideoCall" video-width="videoConstraints.mandatory.minWidth" video-height="videoConstraints.mandatory.minHeight" video-constraints="videoConstraints" on-stream="onStream(stream)" on-error="onError(err)" on-streaming="onStreaming()" style="width: 100%;">
        <div class="title"><!-- <button class="btn btn-link btn-xs pull-left" ng-click="fsLocal()" data-title="Full Screen" data-delay="500,100" data-container="body" bs-tooltip><i class="fa fa-expand"></i></button> -->{{loggedUser}}'s Camera<span class="pull-right" ng-hide="noVideo"><i class="glyphicon glyphicon-record" ng-style="{ 'color': (inCall ? '#C00000' : 'lightgray') }" ng-class="{ 'flashing': inCall }" ng-show="streaming"></i></span></div>
        <img src="resources/images/male-placeholder.jpg" ng-show="noVideo">

        <!-- TODO: For future usage, with layouts
        <video id="localVideo" autoplay="autoplay" ng-hide="noVideo" ng-src="{{localVideo}}" fullscreen="localFS" only-watched-property muted="true"></video>
        -->

        <div class="video-controls" ng-show="inCall">
          <button class="btn btn-link" ng-click="localMuteAudio()">
            <i class="fa" ng-class="inCall.localAudioMuted ? 'fa-microphone-slash muted' : 'fa-microphone'"></i>
          </button>
          <button class="btn btn-link" ng-click="localMuteVideo()">
            <i class="fa" ng-class="inCall.localVideoMuted ? 'fa-eye-slash muted' : 'fa-eye'"></i>
          </button>
          <button class="btn btn-link" ng-click="callHangup()" ng-show="false"><i class="glyphicon glyphicon-earphone" style="transform: rotate(118deg);"></i></button>
        </div>
      </webcam>
    </div>

    <!-- Remote Video Window -->
    <div class="block remote-video-container-{{activeLayout}}" ng-show="inCall" ng-style="{'height': getRemoteHeight()}"  fullscreen="remoteFS" only-watched-property>
      <div class="title"><button class="btn btn-link btn-xs pull-left" ng-show="activeLayout === 'SbS'" ng-click="setActiveLayout('FuW')" data-title="Full Window" data-delay="500,100" data-container="body" bs-tooltip><i class="fa fa-plus-square-o"></i></button><button class="btn btn-link btn-xs pull-left" ng-hide="activeLayout === 'FuS'" ng-click="setActiveLayout('FuS')" data-title="Full Screen" data-delay="500,100" data-container="body" bs-tooltip><i class="fa fa-expand"></i></button>{{ (inCall.incomingCallFlag ? inCall.callerPhoneNumber : inCall.calleePhoneNumber) || "&nbsp;"}}</div>
      <div class="video-controls" ng-show="inCall">
        <button class="btn btn-link" ng-click="remoteMuteAudio()" ng-show="inCall.intStatus === 'ESTABLISHED'">
          <i class="fa" ng-class="inCall.remoteAudioMuted ? 'fa-microphone-slash muted' : 'fa-microphone'"></i>
        </button>
        <button class="btn btn-link" ng-click="remoteMuteVideo()" ng-show="inCall.intStatus === 'ESTABLISHED'">
          <i class="fa" ng-class="inCall.remoteVideoMuted ? 'fa-eye-slash muted' : 'fa-eye'"></i>
        </button>
        <button class="btn btn-link" ng-click="callHangup()"><i class="glyphicon glyphicon-earphone" style="transform: rotate(118deg);"></i></button>
      </div>
      <img src="resources/images/male-placeholder.jpg" ng-hide="remoteVideo">
      <video class="remote-video-{{activeLayout}}" ng-src="{{remoteVideo}}" style="width: {{videoConstraints.mandatory.minWidth}}px; height: {{videoConstraints.mandatory.minHeight}}px;" autoplay="autoplay" ng-show="remoteVideo"></video>
      <div class="video-status" ng-show="inCall.intStatus !== 'ESTABLISHED'"> {{inCall.intStatus}} </div>
      <video ng-show="activeLayout === 'FuS'" id="localVideoFS" autoplay="autoplay" ng-src="{{localVideo}}" style="width: 15%; top: 45px; position: fixed; z-index: 443; right: 10%; transform: scaleX(-1);" muted="true"></video>
    </div>
  </div>
</div>

<div class="chat-container">
<div style="width: 250px; margin: 0 10px -5px 0; text-align: initial; pointer-events: auto; z-index: 1;" class="block" ng-repeat="ac in activeChats|orderBy:void:true" ng-if="ac.status !== 'hid'">
  <div id="{{ ac.id }}" class="title" ng-class="{'title-unread': (ac.unread > 0)}">
    <p style="display: inline-flex; max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0;">{{ ac.id }}</p> <span class="badge" style="font-size: 0.6em;" ng-show="ac.unread > 0">{{ac.unread}}</span>
    <span class="pull-left">
      <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-link btn-xs dropdown-toggle" dropdown-toggle bs-dropdown="chatDropdown" data-template="modules/templates/oly-chat-dropdown.html" data-placement="bottom-left auto" data-container="body"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
      </div>
    </span>
    <span class="pull-right">
      <button class="btn btn-link btn-xs" ng-click="minimizeChat(ac.id)"><i class="glyphicon " ng-class="ac.status === 'min' ? 'glyphicon-menu-up' : 'glyphicon-menu-down'"></i></button>
      <button class="btn btn-link btn-xs" ng-click="closeChat(ac.id)"><i class="glyphicon glyphicon-remove"></i></button>
    </span>
  </div>
  <!-- Animated.. but not there yet.
  <div class="content" style="height: 233px;" ng-class="ac.status === 'min' ? 'animated bounceOutDown hidden' : 'animated bounceInDown' ">Some text...</div>
  <div class="content" style="height: 30; background-color: #5cb85c;" ng-class="ac.status === 'min' ? 'animated bounceOutDown hidden' : 'animated bounceInDown' ">
  -->
  <div class="content" scroll style="height: 233px; width: 250px; overflow-y: scroll;" ng-show="ac.status === 'normal'">
    <ol class="discussion">
      <li ng-repeat="entry in ac.history" ng-class="{'other': entry.direction === 'in', 'self': entry.direction === 'out', 'group': (ac.history[$index+1].direction === entry.direction && ac.history[$index+1].time - entry.time <= timeToGroup)}" ng-style="{'margin-right: 40px; margin-bottom: -10px;' : (ac.history[$index+1].direction === entry.direction && ac.history[$index+1].time - entry.time >= timeToGroup)}">
        <div class="avatar">
          <div style="background-color: {{getChatColor(entry.direction === 'in' ? ac.id : loggedUser)}}">{{entry.direction === 'in' ? (ac.id|limitTo:1|uppercase) : (loggedUser|limitTo:1|uppercase) }}</div>
        </div>
        <div class="messages" style="width: 100%;">
          <p class="{{entry.status}}" ng-bind-html="entry.text | emoticons:{linkTarget:'_blank'}"></p>
          <time ng-if="ac.history[$index+1].direction !== entry.direction || ac.history[$index + 1].time - entry.time >= timeToGroup">{{entry.direction === 'in' ? (ac.id + ' • ') : ''}}<span am-time-ago="entry.time" title="{{entry.time | amDateFormat:'ddd, DD MMM YYYY, HH:mm:ss'}}"></span></time>
        </div>
      </li>
    </ol>
  </div>
  <div class="content typearea" ng-show="ac.status === 'normal'">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="ac.writeText" placeholder="Type Message...">
            <span class="input-group-btn">
              <button class="btn btn-link" style="padding: 0 10px;" ng-click="sendMessage(ac)"><i class="fa fa-chevron-circle-right" style="font-size: 1.5em;"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<!-- TODO: For future usage, with layouts
<div ng-if="!inCall && activeLayout === 'FuW'" ng-hide="noVideo" ng-class="contactsVisible ? 'col-md-9 col-md-offset-3' : 'col-md-11 col-md-offset-1'" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; padding: 0;" id="localVideoFullCnt">
  <video id="localVideoFull" autoplay="autoplay" ng-src="{{localVideo}}" style="object-fit: cover; height: calc(100% - 50px); max-width: 100%; margin-top: 50px;"></video>
</div>

<div ng-if="inCall && activeLayout === 'FuW'" ng-class="contactsVisible ? 'col-md-9 col-md-offset-3' : 'col-md-11 col-md-offset-1'" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; padding: 0;" id="localVideoFullCnt">
  <div class="video-controls" style="margin-top: 50px" ng-show="inCall">
    <button class="btn btn-link" ng-click="remoteMuteAudio()" ng-show="inCall.intStatus === 'ESTABLISHED'">
      <i class="fa" ng-class="inCall.remoteAudioMuted ? 'fa-microphone-slash muted' : 'fa-microphone'"></i>
    </button>
    <button class="btn btn-link" ng-click="remoteMuteVideo()" ng-show="inCall.intStatus === 'ESTABLISHED'">
      <i class="fa" ng-class="inCall.remoteVideoMuted ? 'fa-eye-slash muted' : 'fa-eye'"></i>
    </button>
    <button class="btn btn-link" ng-click="callHangup()"><i class="glyphicon glyphicon-earphone" style="transform: rotate(118deg);"></i></button>
  </div>
  <img src="resources/images/male-placeholder.jpg" ng-hide="remoteVideo">
  <video id="remoteVideoFull" ng-src="{{remoteVideo}}" style="object-fit: cover; height: calc(100% - 50px); max-width: 100%; margin-top: 50px;" autoplay="autoplay" ng-show="remoteVideo" fullscreen="remoteFS" only-watched-property></video>
</div>
-->

<!-- Audio Resources -->
<audio id="snd_ringing" loop src="resources/audio/ringing.mp3" type="audio/mpeg"></audio>
<audio id="snd_message" src="resources/audio/chat_notification.wav" ></audio>
<audio id="snd_dtmf0" title="0" src="resources/audio/dtmf0.wav" ></audio>
<audio id="snd_dtmf1" title="1" src="resources/audio/dtmf1.wav" ></audio>
<audio id="snd_dtmf2" title="2" src="resources/audio/dtmf2.wav" ></audio>
<audio id="snd_dtmf3" title="3" src="resources/audio/dtmf3.wav" ></audio>
<audio id="snd_dtmf4" title="4" src="resources/audio/dtmf4.wav" ></audio>
<audio id="snd_dtmf5" title="5" src="resources/audio/dtmf5.wav" ></audio>
<audio id="snd_dtmf6" title="6" src="resources/audio/dtmf6.wav" ></audio>
<audio id="snd_dtmf7" title="7" src="resources/audio/dtmf7.wav" ></audio>
<audio id="snd_dtmf8" title="8" src="resources/audio/dtmf8.wav" ></audio>
<audio id="snd_dtmf9" title="9" src="resources/audio/dtmf9.wav" ></audio>
<audio id="snd_dtmfs" title="*" src="resources/audio/star.wav" ></audio>
<audio id="snd_dtmfp" title="#" src="resources/audio/pound.wav" ></audio>
