<div>
  <img src="resources/images/v2/restcomm-logo.png" class="restcomm-logo">
</div>
<section class="new-container">
  <section class="login-form">
    <form method="post" action="" role="login" name="loginForm">
      <h3>Sign in to your account</h3>
      <div class="row">
        <div class="col-xs-12">
          <input type="text" name="username" placeholder="Username" class="form-control input-lg" ng-model="sip.username" ng-change="mirrorUsername()" required>
        </div>
        <div class="col-xs-12">
          <input type="password" name="password" placeholder="Password" class="form-control input-lg" ng-model="sip.password" required>
        </div>
      </div>
      <button class="change-color" type="button" name="go" ng-click="connect()" ng-disabled="loginForm.$invalid">Sign in</button>
      <section style="color: #df3e00;" ng-show="registerFailed">
        Invalid Username/Password. Please try again.
      </section>
      <section>
        <a href="">Forgot password?</a>
      </section>
    </form>
  </section>
</section>
<div id="footer">
  <img src="resources/images/v2/sign-in-page-telestax-logo.png" class="telestax-logo">
  <div class="telestax-rights">&copy; 2016 Telestax, Inc. All rights reserved</div>
</div>