

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
body {
  background: #f2f1f1 !important;
}
.new-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: -20px
}
.margin-top {
  margin-top: 800;
}


#footer {
  background:#4a4a4b;
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  left:0;
}

.telestax-logo {
   margin-top: 33px;
  margin-left: 50px;
}

.telestax-rights {
   display: block;
   margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
 
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
}

form[role=login] {
  font: 16px/1.6em Lato, serif;
  color: transparent;
  background: transparent;
  margin-top: 100px;
  padding: 0 10px 25px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}


  
.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


form[role=login] > section {
  text-align: center;
  font-size: 14px;
  margin-top: 2em;
}
  form[role=login] section a {
    color: #a8a8a9;
  }
form[role=login] h3 {
  font-size: 30px;
  font-weight: 300;
  font-family: lato;
  text-align: center;
  color: #6d6e70;
  padding: 70px 0 12px 0;
}
  form[role=login] h3 b {
    color: #013781;
  }

  form[role=login] span.glyphicon {
    color: #adadad;
  }
  form[role=login] input,
  form[role=login] button {
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0;
  }
  form[role=login] input {
    color: #c1c4c5;
    background: #fafafa;
    border: none;
    padding-left: 40px;
    border: 1px solid #d1d1d1;
    margin-bottom: 15px;

  }

  /*
  input:focus {
    outline:none !important;
    }
    */


  


    form[role=login] input::-webkit-input-placeholder {
      color: #c1c4c5;
    }
    form[role=login] input:-moz-placeholder {
      color: #c1c4c5;
    }
    form[role=login] input::-moz-placeholder {
      color: #c1c4c5;
    }
    form[role=login] input:-ms-input-placeholder {  
      color: #c1c4c5;
    }
  form[role=login] button {
    line-height: 30px;
    font-weight: normal;
    -webkit-box-shadow: 0px 3px 0px 0px #c7c7c;
       -moz-box-shadow: 0px 3px 0px 0px rgba(24, 121, 158, 1);
        box-shadow: 1px 3px 0px 0px #c7c7c7;
    background: #d1d1d1;
    border: none;
  }

.change-color {
  color: #6d6e70;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  padding: 10px 16px;
  border-radius: 6px; 
  display: block;
  width: 100%;

}

.restcomm-logo {
  margin-top: 100px;
  margin-left: 150px;
}
  form[role=login] button:hover {
    background: #c7c7c7;
  }
  
.login-form .form-control {
    padding-left: 40px;
}
.login-form .form-control + .glyphicon {
    position: absolute;
    left: 0;
  top: 22%;
    padding: 6px 0 0 27px;
}